nav.navbar.navbar-fixed-top
	.container
		.navbar-header
			button.navbar-toggle.collapsed.btn(type="button", data-toggle="collapse", data-target="#menu", aria-expanded="false")
				span.sr-only Toggle
				span.glyphicon.glyphicon-align-justify
			a(href="#{mainLink}").navbar-brand My Logo
		.collapse.navbar-collapse#menu
			ul.nav.navbar-nav.navbar-left
				-each val in socials
					li
						a(href="#{val.link}", target="_blank")
							span.fa-stack
								i.fa.fa-square-o.fa-stack-2x
								i(class="fa fa-#{val.icon} fa-stack-1x")
			ul.nav.navbar-nav.navbar-right
				- each val in menu
					li
						a(href="#{mainLink + val.link}") #{val.name}