- var mainLink = '', author = 'Евгений Вакуленко', age = new Date(1993,7,8), now = new Date()
- var socials = [{link:'http://vk.com/vakula_e_g',icon:'vk'},{link:'https://www.facebook.com/profile.php?id=100004015285077',icon:'facebook'},{link:'https://www.linkedin.com/in/%D0%B5%D0%B2%D0%B3%D0%B5%D0%BD%D0%B8%D0%B9-%D0%B2%D0%B0%D0%BA%D1%83%D0%BB%D0%B5%D0%BD%D0%BA%D0%BE-bb422910a?trk=nav_responsive_tab_profile',icon:'linkedin'},{link:'https://plus.google.com/u/0/110067773716162418802',icon:'google-plus'},{link:'//github.com/1ncrement/port',icon:'github-alt'}]
- var menu = [{name:'Главная',link:'#body'},{name:'Обо мне',link:'#about'},{name:'Навыки',link:'#skills'},{name:'Работы',link:'#works'},{name:'Контакты',link:'#contact'}]
- var columSkill = ['Навыки','Программы','Уровень','Описание']
- var level = '1 - Базовый, 2 - Продвинутый, 3 - Среднее, 4 - Джедай'
- var aboutMe = [{title: 'Привет!',cont:'Я, Евгений Вакуленко и Я не алкоголик.'},{title: 'Навыки:',cont:'чувство юмора как видите у меня при себе, а остальные навыки вы сможете посмотреть <a href="#skills">ниже</a>.'},{title: 'Моя основная цель:',cont:'это устроиться на работу FrontEnd разработчиком и достичь уровня Senior FrontEnd Developer до 25 лет.'},{title: 'Образование:',cont:'Я закончил <a href="//xrtt.kharkov.ua/" target="_blank">ХРТТ</a> по специальности "Системный администратор", сейчас заканчиваю 5й курс Специалиста в <a href="//www.kname.edu.ua/index.php/ru/" target="_blank">ХНУГХ</a>, факультет <a href="//eom.kname.edu.ua/index.php/uk/" target="_blank">ЭОМ</a> по специальности ЕСЕ. Тоесть понятно что это вобще не по специальности :)'},{title: 'Опыт работы:',cont:'на коммерческой основе не имею, но занимался своим игровым Проэктом где занимался разработкой и ведением сайта, игрового сервер, лаунчера, игрового клиента и всем всем всем. <a href="//www.youtube.com/user/1ncrement">Мой YouTube</a> канал. Пока к сожелению сам сайт не доступен так как за хостинг платить не охота ибо <abbr title="Dedicated server">Дедик</abbr> мой сгорел.'},{title:'Образование IT:',cont:'курсов я никаких не заканчивал, занимался исключительно самообразованием и обучением, сёрфил в Net и методом проб и ошибок набивал себе шишки.'},{title:'Краткая хар-ка:',cont:'Я веду здоровый образ жизни, не вегетерианец, люблю науку, Я дотошный, женат, есть ребёнок, люблю спорт занимался когдато Rоck-n-roll около 8 лет и Тайскимбоксом + смешаные единоборства около 2х лет, очень люблю сладкое.'},{title:'Мой Английский',cont:'Ниже среднего, но как только я получу работу в IT Я начну уделять больше внимания Англ. но пока мой приоритет лежит на развитии своих знаний в коде.'}]
//- Mixins
mixin skills(skill,lvl,desc,link)
	tr
		if link
			case skill
				when ''
					td.bold!= 'Поле пустое'
				default
					td.bold
						a(href="#{link}" target="_blank")!= skill
		else
			case skill
				when ''
					td.bold!= 'Поле пустое'
				default
					td.bold!= skill
		case lvl
			when 1
				td!= 'базовый'
			when 2
				td!= 'продвинутый'
			when 3
				td!= 'среднее'
			when 4
				td!= 'Джедай'
			default
				td= 'что то не так'
		case desc
			when ''
				td!= 'Описание отстствует.'
			default
				td!= desc